# ──── STAGING FRONTEND ENVIRONMENT VARIABLES ────

VITE_API_URL=https://staging-api.embeddedcollective.com

VITE_GOOGLE_CLIENT_ID=473198912524-5vere2qbqcutil4hn9mlkvf52dnqal83.apps.googleusercontent.com
